* {
  font-size: 2.5vw;
  font-family: 'Open Sans', sans-serif;
  background: #5F8EAC;
}

h1 {
  font-size: 2em;
  color: #FFF;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  margin-bottom: 0;
}

/* REFRESH BUTTON */
#refresh-btn {
  display: block;
  width: 1.5em;
  height: 1.5em;
  border: none;
  margin: auto;
  padding: 0 0 0 0;
  margin-bottom: 16px;
}

#refresh-btn>img {
  width: 1.5em;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  outline: none;
  border-radius: 1.5em;
}

#refresh-btn:focus {
  outline: none;
}

/* SEARCH BAR */
form {
  position: relative;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 1.3em;
  z-index: 100;
}

input {
  outline: none;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  text-align: center;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

input[type=search] {
  background-image: url(../images/np_magnifying-glass_888719_000000.png);
  background-repeat: no-repeat;
  background-size: 1.3em;
  background-color: #FFC986;
  border: none;
  -webkit-border-radius: .6em;
  -moz-border-radius: .6em;
  border-radius: .6em;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

input:-moz-placeholder {
  color: #FFC986;
}

input::-webkit-input-placeholder {
  color: #FFC986;
}

#demo-2 input[type=search] {
  width: 1.3em;
  height: 1.3em;
  /* padding-left: 10px; */
  color: transparent;
  cursor: pointer;
}

#demo-2 input[type=search]:hover {
  background-color: #f4d0a3;
}

#demo-2 input[type=search]:focus {
  width: 80%;
  padding-left: 32px;
  color: #FFC986;
  text-align: center;
  background-color: #265C7F;
  cursor: auto;
}

#demo-2 input:-moz-placeholder {
  color: transparent;
}

#demo-2 input::-webkit-input-placeholder {
  color: transparent;
}

/* Results */
.results {
  width: 80%;
  margin: auto;
  margin-top: -1.3em;
  opacity: 0;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  z-index: 0;
}

.result {
  display: grid;
  grid-template-columns: 1.5fr 2fr 1.5fr 1.5fr;
  grid-template-areas: "title repo language labels";
  width: 100%;
  height: 1.3em;
  margin: 0;
  align-items: center;
}

.result>div {
  display: inline-block;
  font-size: .5em;
  text-align: center;
  margin: 0;
  vertical-align: center;
  white-space: nowrap;
  background: none;
  overflow: hidden;
}

.result>div:hover, .result>div:active, .result>div:focus {
  overflow: auto;
}

.title {
  grid-area: title;
}

.repo {
  grid-area: repo;
}

.language {
  grid-area: language;
}

.labels {
  grid-area: labels;
}

.light {
  background: #3E7192;
  border-top: 2px solid #5F8EAC;
  border-bottom: 2px solid #5F8EAC;
}

.dark {
  background: #265C7F;
}

/* .animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
} */
